[Unit]
Description=Slack Bot
After=network-online.target

[Service]
ExecStart=/root/.nvm/versions/node/v24.17.0/bin/node /root/slacky-wacky/index.js
WorkingDirectory=/root/slacky-wacky
Restart=always

[Install]
WantedBy=default.target
